{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ETAL</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="container mt-4">
      <br>
      <div id="formulario" style="width: 50%; margin: auto;" >
      <h2>Inscrição Mini Curso - ETAL </h2>

      <form method="post">
          {% csrf_token %} 
          {{ forms | bootstrap}} 
      
          <input type="submit"  class="btn btn-info" value="Enviar" >
      </form>
      </div>
      <h1>Lista Cadastros</h1>
      <table class="table table-overflow">
          <thead>
            <tr>
              <th style="color:  rgb(154, 17, 182) !important;" scope="col">#</th>
              <th style="color:  rgb(154, 17, 182) !important;" scope="col">Nome</th>
              <th style="color:  rgb(154, 17, 182) !important;" scope="col">CPF</th>
              <th style="color:  rgb(154, 17, 182) !important;" scope="col">Email</th>
              <th style="color:  rgb(154, 17, 182) !important;" scope="col">Curso</th>
              <th style="color:  rgb(154, 17, 182) !important;" scope="col">Mini cursos</th>
              
            </tr>
          </thead>
          
          <tbody>
              {% for can in candidato %}
             
              
              <th scope="row">-</th>
              
              <td>{{can.nome_candidato}}</td>
              <td>{{can.cpf_candidato}}</td>
              <td>{{can.email_candidato}}</td>
              <td>{{can.curso_candidato}}</td>
              <td>{{can.mini_cursos}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        <a href="#formulario">        
          <button style="margin-bottom: 100px;"class="btn btn-info"> Cadastrar</button>
        </a>
        
    </main>
</body>
</html>