{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

 
 {% block conteudo %}
        <section class="sectionhome">
        <div style="width: 90%;" class="container">
        <div class="row justify-content-md-center">
        <img src="./static/img/etal.gif" alt="" width="100%">
        </div>
        <div class="row justify-content-md-center">
        <button type="button" class="btn btn-danger"><a id="btnCad" href="{% url 'get_cadastro' %}"> Cadastre-se agora! </a></button>
      </div>
      </div>
    </section>


      {% endblock %}

  
